WorkDir=.
ModelDir=$WorkDir$\_out\$ConfigName$
stderr=$WorkDir$\_out\$ConfigName$

ndlMacros=$WorkDir$\Macros.ndl

precision=float
deviceId=Auto

command=Train:Test

Train=[
    action=train
    modelPath=$ModelDir$\01_OneHidden

     NDLNetworkBuilder=[
        networkDescription=$WorkDir$\01_OneHidden.ndl
    ]
    
    SGD=[
        epochSize=60000
        minibatchSize=32
        learningRatesPerMB=0.1
        momentumPerMB=0
        maxEpochs=30
    ]
    
    reader=[
        readerType=UCIFastReader
        file=$WorkDir$\Train-28x28.txt
        features=[
            dim=784
            start=1
        ]
        labels=[
            dim=1
            start=0
            labelDim=10
            labelMappingFile=$WorkDir$\labelsmap.txt
        ]
    ]    
]

Test=[
    action=test
    modelPath=$ModelDir$\01_OneHidden

     NDLNetworkBuilder=[
        networkDescription=$WorkDir$\01_OneHidden.ndl
    ]
    
    reader=[
        readerType=UCIFastReader
        file=$WorkDir$\Test-28x28.txt
        features=[
            dim=784
            start=1
        ]
        labels=[
            dim=1
            start=0
            labelDim=10
            labelMappingFile=$WorkDir$\labelsmap.txt
        ]
    ]    
]
