WorkDir=.
ModelDir=$WorkDir$/_out/$ConfigName$
stderr=$WorkDir$/_out/$ConfigName$

ndlMacros=$WorkDir$/Macros.ndl

precision=float
deviceId=Auto

command=Train:Test

Train=[
    action=train
    modelPath=$ModelDir$/02_Convolution

     NDLNetworkBuilder=[
        networkDescription=$WorkDir$/02_Convolution.ndl
    ]
    
    SGD=[
        epochSize=60000
        minibatchSize=32
        learningRatesPerMB=0.5
        momentumPerMB=0*10:0.7
        maxEpochs=20
    ]
    
    reader=[
        readerType=UCIFastReader
        file=$WorkDir$/Train-28x28.txt
        features=[
            dim=784
            start=1
        ]
        labels=[
            dim=1
            start=0
            labelDim=10
            labelMappingFile=$WorkDir$/labelsmap.txt
        ]
    ]    
]

Test=[
    action=test
    modelPath=$ModelDir$/02_Convolution

     NDLNetworkBuilder=[
        networkDescription=$WorkDir$/02_Convolution.ndl
    ]
    
    reader=[
        readerType=UCIFastReader
        file=$WorkDir$/Test-28x28.txt
        features=[
            dim=784
            start=1
        ]
        labels=[
            dim=1
            start=0
            labelDim=10
            labelMappingFile=$WorkDir$/labelsmap.txt
        ]
    ]    
]
