#WorkDir=//speechstore5/transient/kaishengy/data/lts/Data/CNTK
WorkDir=d:/exp/smt
DataDir=d:\data\newscomments\2015\03-23
#DataDir=d:/data/smt/cntk
#DataDir=//speechstore5/transient/kaishengy/data/smt/cs-en
ExpDir=d:\exp\smt\result\expcsen
OutDir=$ExpDir$
LogDir=$ExpDir$\log
DeviceNumber=Auto
MdlDir=$ExpDir$
# source side info
SRCFEATDIM=160001
SRCBEGINSYMBOL=BOS
TGTBEGINSYMBOL=<EOS>
TGTENDSYMBOL=<EOS>
# target side info
#TGTFEATDIM=82922
TGTFEATDIM=80002
# dimensionality
VLSTMDIM=100
VEMBDIM=50
TRAINSRCFILE=news.cntk.train.txt
TRAINTGTFILE=comments.cntk.train.txt
VALIDATESRCFILE=news.cntk.valid.txt
VALIDATETGTFILE=comments.cntk.valid.txt
TESTSRCFILE=news.cntk.test.txt
TESTTGTFILE=comments.cntk.test.txt
VOCABSIZE=2264
CLASSSIZE=100
