WorkDir=.
ModelDir=$WorkDir$/_out/$ConfigName$
stderr=$WorkDir$/_out/$ConfigName$

ndlMacros=$WorkDir$/Macros.ndl

precision=float
deviceId=Auto

command=Train:Test

Train=[
    action=train
    modelPath=$ModelDir$/01_Convolution

     NDLNetworkBuilder=[
        networkDescription=$WorkDir$/01_Convolution.ndl
    ]
    
    SGD=[
        epochSize=49984
        minibatchSize=64
        learningRatesPerMB=0.01*10:0.003*10:0.001
        momentumPerMB=0.9*20:0.99
        maxEpochs=30
        L2RegWeight=0.03
        dropoutRate=0*5:0.5
    ]
    
    reader=[
        readerType=UCIFastReader
        file=$WorkDir$/Train.txt
        randomize=None
        features=[
            dim=3072
            start=1
        ]
        labels=[
            dim=1
            start=0
            labelDim=10
            labelMappingFile=$WorkDir$/labelsmap.txt
        ]
    ]    
]

Test=[
    action=test
    modelPath=$ModelDir$/01_Convolution
    # Set minibatch size for testing.
    minibatchSize=128

     NDLNetworkBuilder=[
        networkDescription=$WorkDir$/01_Convolution.ndl
    ]
    
    reader=[
        readerType=UCIFastReader
        file=$WorkDir$/Test.txt
        randomize=None
        features=[
            dim=3072
            start=1
        ]
        labels=[
            dim=1
            start=0
            labelDim=10
            labelMappingFile=$WorkDir$/labelsmap.txt
        ]
    ]    
]
