[submodule "Source/1BitSGD"]
	path = Source/1BitSGD
	url = https://git.codeplex.com/cntk1bitsgd
[submodule "Source/Multiverso"]
	path = Source/Multiverso
	url = https://github.com/Microsoft/Multiverso
