*.ini text
*.simple text
*.counts text
*.labels text
*.feats text
*.ctf text
*.post text
*.cpu text
*.gpu text
*.rst text

.gitattributes text
.gitignore text
.gitmodules text

.clang-format text

*.md text
*.txt text
*.TXT text
*.html text
*.lyx text
*.bib text
*.json text
.gitkeep text
KaldiReaderReadme text
Readme text

*.bat text
*.cmd text
*.py text
*.ipynb text
*.pl text
*.ps1 text
*.psm1 text
*.ps text
*.i text

*.sh text eol=lf
*.awk text eol=lf
build-and-test text eol=lf
configure text eol=lf
generate_build_info text eol=lf
run-test text eol=lf
run-test-common text eol=lf
run-timit-test-common text eol=lf
run-boost-test-common text eol=lf
make_binary_drop_linux text eol=lf

# Used from Unix / Cygwin 'md5sum -c', needs to have LF line endings:
Tests/EndToEndTests/Examples/Speech/TIMIT/WriteBottleneck/expected_output_md5sum.*.txt eol=lf
Tests/EndToEndTests/Examples/Speech/TIMIT/WriteScaledLogLike/expected_output_md5sum.*.txt eol=lf

# Used by reader unit test, needs to keep LF line endings.
Tests/UnitTests/ReaderTests/Data/CNTKTextFormatReader/invalid_inputs.txt eol=lf

Makefile text
*.sln text
*.pyproj text
*.vcxproj text
*.vcxproj.filters text
*.vssettings text
*.csproj text
*.props text
*.asax text

*.h text
*.cpp text
*.cc text
*.cu text
*.cuh text
*.proto text

*.cs text
*.java text
bindings/java/JavaEvalTest/*.iml text

*.yml text
*.yml.bak text

*.config text
*.cntk text
*.bs text
*.ndl text
*.mel text
*.xml text
*.m text
*.mlf text
*.scp text
*.list text

*.log text

Dockerfile* text
.dockerignore text

# Speech data
mean.363 text
var.363 text
prior.132 text

# dot (graph description language) file 
*.dot text 

# AMI-specific
Results text
40fbank.conf text
80fbank.conf text

# SLU-specific
atis.*.simple

# TIMIT-specific
*.fbank24_zda text
TIMIT*.100 text
TIMIT*.20 text
TIMIT*.arpa text
TIMIT*.cntk text
TIMIT*.dnn_map text
TIMIT*.fbank text
TIMIT*.fullpath text
TIMIT*.lookahead text
TIMIT*.rnn text
TIMIT*.statelist text
TIMIT*.tfsa text
TIMIT*.transitions text

Examples/LanguageUnderstanding/ATIS/Data/ATIS.* text
Examples/LanguageUnderstanding/ATIS/BrainScript/*.wl text

Examples/SequenceToSequence/CMUDict/Data/cmudict-0.7b* text

# Binary extensions:
*.ark binary
*.chunk binary
*.cmf binary
*.docx binary
*.jpg binary
*.pdf binary
*.png binary
*.pptx binary
*.snk binary
*.vsdm binary
*.zip binary
*.dnn binary
Examples/Image/Detection/FastRCNN/fastRCNN/*/*.pyd binary
Examples/Image/Detection/FastRCNN/fastRCNN/*/*.so binary
Tests/UnitTests/V2LibraryTests/data/*.bin binary
Tests/UnitTests/ReaderTests/Data/CNTKBinaryReader/*.bin binary
Tests/EndToEndTests/ParallelTraining/AsynchronousSGD/ASGD_Resnet.model.1 binary
