workdir=Examples\Speech\CTC\Config
datadir=Examples\Speech\AN4\Data
stderr=$workdir$\log
command=train
precision=float

Truncated=false
#parallelTrain=true
nbruttsineachrecurrentiter=6
train=[
    action=trainRNN
    modelPath=$workdir$\model\lstm.model
    deviceId=auto
    traceLevel=1
    useValidation=true
    NDLNetworkBuilder=[
        networkDescription=$workdir$\lstmp-5layerstatic-forget.txt
    ]
    SGD=[
        epochSize=35484
        minibatchSize=2
        learningRatesPerSample=0.0002*1:0.0001*1:0.00005*2:0.000025*2:0.0000125
        momentumPerSample=0.99993
        dropoutRate=0.0
        maxEpochs=8
        numMBsToShowResult=1000
        AutoAdjust=[
            reduceLearnRateIfImproveLessThan=0
            loadBestModel=true
            increaseLearnRateIfImproveMoreThan=1000000000
            learnRateDecreaseFactor=0.5
            autoAdjustLR=None
			learnRateAdjustInterval=5
            EmergencyReloadThreshold=0.3
        ]
	
        gradientClippingWithTruncation=true
        clippingThresholdPerSample=0.01
    ]
    reader=[
    readerType=HTKMLFReader
    readMethod=blockRandomize
    frameMode=false
    miniBatchMode=Partial
    randomize=15000000
    verbosity=0   
    contextWindow=5		
    features=[
      dim=363
            scpFile=$datadir$\glob_0000.scp
    ]
    labels=[
      mlfFile="$datadir$\glob_0000.mlf"
      labelMappingFile=$workdir$\state.list
      labelDim=133
      labelType=Category
    ]
    ]
]