#--find-links wheelhouse
#pip==8.0.2
future
Pillow==2.8.1
xmltodict==0.9.2
wheel==0.26.0
matplotlib==1.4.3
EasyDict
./numpy-1.11.2+mkl-cp27-cp27m-win_amd64.whl
./opencv_python-3.1.0-cp27-cp27m-win_amd64.whl
./scikit_learn-0.18-cp27-cp27m-win_amd64.whl
./scipy-0.18.1-cp27-cp27m-win_amd64.whl
./scikit_image-0.12.3-cp27-cp27m-win_amd64.whl
