precision=float
command=speechTrain
deviceId=$DeviceId$

parallelTrain=false

frameMode=false
Truncated=true

speechTrain=[
    action=train
    modelPath=$RunDir$/models/cntkSpeech.dnn
    deviceId=$DeviceId$
    traceLevel=1
    
    NDLNetworkBuilder=[
		networkDescription=$TEST_DIR$/lstmp-3layer_WithSelfStab.ndl
    ]    
    
    SGD=[
        epochSize=20480
        minibatchSize=20
        learningRatesPerMB=0.5
        numMBsToShowResult=10
        momentumPerMB=0:0.9
        maxEpochs=4
        keepCheckPointFiles=true       
    ]
    reader=[
      readerType=HTKMLFReader
      readMethod=blockRandomize
      miniBatchMode=Partial
      nbruttsineachrecurrentiter=32
      randomize=Auto
      verbosity=0
      features=[
          dim=363
          type=Real
          scpFile=$DataDir$/glob_0000.scp
      ]
  
      labels=[
          mlfFile=$DataDir$/glob_0000.mlf
          labelMappingFile=$DataDir$/state.list
        
          labelDim=132
          labelType=Category
      ]
    ]
]
