precision=float
command=speechTrain
deviceId=$DeviceId$

parallelTrain=false

speechTrain=[
    action=train
    modelPath=$RunDir$/models/cntkSpeech.dnn
    deviceId=$DeviceId$
    traceLevel=1
    
    xNDLNetworkBuilder=[
        networkDescription=$TEST_DIR$/lstmp-3layer_WithSelfStab.ndl
    ]
    
    SGD=[
        epochSize=20480
        minibatchSize=20
        learningRatesPerMB=1.0:0.5:0.1
        numMBsToShowResult=10
        momentumPerMB=0.9:0.656119
        dropoutRate=0.0
        maxEpochs=3
        keepCheckPointFiles=true       
        
        AutoAdjust=[
            reduceLearnRateIfImproveLessThan=0
            loadBestModel=true
            increaseLearnRateIfImproveMoreThan=1000000000
            learnRateDecreaseFactor=0.5
            learnRateIncreaseFactor=1.382
            autoAdjustLR=AdjustAfterEpoch
        ]
        clippingThresholdPerSample=1#INF
    ]
    reader=[
      readerType=HTKMLFReader
      readMethod=blockRandomize
      miniBatchMode=Partial
      frameMode=false
      Truncated=true
      nbruttsineachrecurrentiter=32
      randomize=Auto
      verbosity=0
      features=[
          dim=363
          type=Real
          scpFile=$DataDir$/glob_0000.scp
      ]
  
      labels=[
          mlfFile=$DataDir$/glob_0000.mlf
          labelMappingFile=$DataDir$/state.list
        
          labelDim=132
          labelType=Category
      ]
    ]


    # replicating the above with BrainScript   --this is 100% converted from NDL
    originalExperimentalNetworkBuilder=[

        LSTMPComponentWithSelfStab(inputDim, outputDim, cellDim, inputx) =
        [
            Wxo = Parameter(cellDim, inputDim, init='uniform', initValueScale=1, initOnCPUOnly=true, randomSeed=1); # difference to NDL: 'uniform' must be quoted as a string
            Wxi = Parameter(cellDim, inputDim, init='uniform', initValueScale=1, initOnCPUOnly=true, randomSeed=1);
            Wxf = Parameter(cellDim, inputDim, init='uniform', initValueScale=1, initOnCPUOnly=true, randomSeed=1);
            Wxc = Parameter(cellDim, inputDim, init='uniform', initValueScale=1, initOnCPUOnly=true, randomSeed=1);

            bo = Parameter(cellDim, 1, init='fixedValue', value=0.0); # difference to NDL: 'fixedValue' must be quoted as a string and is case-sensitive
            bc = Parameter(cellDim, 1, init='fixedValue', value=0.0);
            bi = Parameter(cellDim, 1, init='fixedValue', value=0.0);
            bf = Parameter(cellDim, 1, init='fixedValue', value=0.0);

            Whi = Parameter(cellDim, outputDim, init='uniform', initValueScale=1, initOnCPUOnly=true, randomSeed=1);
            Wci = Parameter(cellDim, 1, init='uniform', initValueScale=1, initOnCPUOnly=true, randomSeed=1);
            Whf = Parameter(cellDim, outputDim, init='uniform', initValueScale=1, initOnCPUOnly=true, randomSeed=1);
            Wcf = Parameter(cellDim, 1, init='uniform', initValueScale=1, initOnCPUOnly=true, randomSeed=1);
            Who = Parameter(cellDim, outputDim, init='uniform', initValueScale=1, initOnCPUOnly=true, randomSeed=1);
            Wco = Parameter(cellDim, 1, init='uniform', initValueScale=1, initOnCPUOnly=true, randomSeed=1);
            Whc = Parameter(cellDim, outputDim, init='uniform', initValueScale=1, initOnCPUOnly=true, randomSeed=1);
        
            Wmr = Parameter(outputDim, cellDim, init='uniform', initValueScale=1, initOnCPUOnly=true, randomSeed=1);
        
            #we provide a scale value for each weight
        
            sWxo = Parameter(1, 1, init='fixedValue', value=0.0);
            sWxi = Parameter(1, 1, init='fixedValue', value=0.0);
            sWxf = Parameter(1, 1, init='fixedValue', value=0.0);
            sWxc = Parameter(1, 1, init='fixedValue', value=0.0);

            sWhi = Parameter(1, 1, init='fixedValue', value=0.0);
            sWci = Parameter(1, 1, init='fixedValue', value=0.0);
        
            sWhf = Parameter(1, 1, init='fixedValue', value=0.0);
            sWcf = Parameter(1, 1, init='fixedValue', value=0.0);
            sWho = Parameter(1, 1, init='fixedValue', value=0.0);
            sWco = Parameter(1, 1, init='fixedValue', value=0.0);
            sWhc = Parameter(1, 1, init='fixedValue', value=0.0);

            sWmr = Parameter(1, 1, init='fixedValue', value=0.0);

            expsWxo = Exp(sWxo);
            expsWxi = Exp(sWxi);
            expsWxf = Exp(sWxf);
            expsWxc = Exp(sWxc);

            expsWhi = Exp(sWhi);
            expsWci = Exp(sWci);     

            expsWhf = Exp(sWhf);
            expsWcf = Exp(sWcf);
            expsWho = Exp(sWho);
            expsWco = Exp(sWco);
            expsWhc = Exp(sWhc);
        
            expsWmr = Exp(sWmr);
        
            #end of scale values        
        
            dh = PastValue(outputDim, 1, output, timeStep=1);
            dc = PastValue(cellDim, 1, ct, timeStep=1);

            Wxix = Times(Wxi, Scale(expsWxi, inputx));
            Whidh = Times(Whi, Scale(expsWhi, dh));
            Wcidc = DiagTimes(Wci, Scale(expsWci, dc));

            it = Sigmoid (Plus ( Plus (Plus (Wxix, bi), Whidh), Wcidc));

            Wxcx = Times(Wxc, Scale(expsWxc, inputx));
            Whcdh = Times(Whc, Scale(expsWhc, dh));
            bit = ElementTimes(it, Tanh( Plus(Wxcx, Plus(Whcdh, bc))));

            Wxfx = Times(Wxf, Scale(expsWxf,inputx));
            Whfdh = Times(Whf, Scale(expsWhf, dh));
            Wcfdc = DiagTimes(Wcf, Scale(expsWcf, dc));

            ft = Sigmoid( Plus (Plus (Plus(Wxfx, bf), Whfdh), Wcfdc));

            bft = ElementTimes(ft, dc);

            ct = Plus(bft, bit);

            Wxox  = Times(Wxo, Scale(expsWxo, inputx));
            Whodh = Times(Who, Scale(expsWho, dh));
            Wcoct = DiagTimes(Wco, Scale(expsWco, ct));

            ot = Sigmoid( Plus( Plus( Plus(Wxox, bo), Whodh), Wcoct));

            mt = ElementTimes(ot, Tanh(ct));

            output = Times(Wmr, Scale(expsWmr, mt)); 
        ]

        #define basic i/o
        baseFeatDim=33
        RowSliceStart=330 
        FeatDim=363
        labelDim=132
        cellDim=1024
        hiddenDim=256

        features=Input(FeatDim, 1, tag='feature')     # differences to NDL: needs the '1'; tag value must be quoted as a string
        labels=Input(labelDim, 1, tag='label')
        feashift=RowSlice(RowSliceStart, baseFeatDim, features);      # shift 5 frames right (x_{t+5} -> x_{t} )


        featNorm = MeanVarNorm(feashift)


        # layer 1
        LSTMoutput1 = LSTMPComponentWithSelfStab(baseFeatDim, hiddenDim, cellDim, featNorm);
        # layer 2 
        LSTMoutput2 = LSTMPComponentWithSelfStab(hiddenDim, hiddenDim, cellDim, LSTMoutput1.output);    # difference to NDL: LSTMoutput1 is a record, must select the output field explicitly
        # layer 3 
        LSTMoutput3 = LSTMPComponentWithSelfStab(hiddenDim, hiddenDim, cellDim, LSTMoutput2.output);

        W = Parameter(labelDim, hiddenDim, init='uniform', initValueScale=1, initOnCPUOnly=true, randomSeed=1);
        b = Parameter(labelDim, 1, init='fixedValue', value=0);
        
        sW = Parameter(1, 1, init='fixedValue', value=0.0);
        expsW = Exp(sW);

        LSTMoutputW = Plus(Times(W, Scale(expsW, LSTMoutput3.output)), b);
        
        cr = CrossEntropyWithSoftmax(labels, LSTMoutputW,tag='criteria');  # differences to NDL: string must be quoted; value is case-sensitive
        Err = ErrorPrediction(labels,LSTMoutputW,tag='eval');
    
        logPrior = LogPrior(labels)	 
        ScaledLogLikelihood=Minus(LSTMoutputW,logPrior,tag='output')
    ]


    # replicating the above with BrainScript  --we will put stuff here
    ExperimentalNetworkBuilder=[

        void = 0        // (BUGBUG: we do not allow zero-argument macros; will be fixed. For now, pass void)

        NewBeta(void) = Exp(Parameter(1, 1, init='fixedValue', value=0.0))
        Stabilize(in) = Scale(NewBeta(void), in)

        LSTMPComponentWithSelfStab(inputDim, outputDim, cellDim, inputx) =
        [
            NewW(void) = Parameter(cellDim, inputDim, init='uniform', initValueScale=1, initOnCPUOnly=true, randomSeed=1)
            //Wxo = NewW(void)
            //Wxi = NewW(void)
            //Wxf = NewW(void)
            //Wxc = NewW(void)

            NewB(void) = Parameter(cellDim, 1, init='fixedValue', value=0.0)
            //bo = NewB(void)
            //bc = NewB(void)
            //bi = NewB(void)
            //bf = NewB(void)

            NewH(void) = Parameter(cellDim, outputDim, init='uniform', initValueScale=1, initOnCPUOnly=true, randomSeed=1)
            NewC(void) = Parameter(cellDim, 1, init='uniform', initValueScale=1, initOnCPUOnly=true, randomSeed=1)
            //Whi = NewH(void)
            //Wci = NewC(void)
            //Whf = NewH(void)
            //Wcf = NewC(void)
            //Who = NewH(void)
            //Wco = NewC(void)
            //Whc = NewH(void)
        
            Wmr = Parameter(outputDim, cellDim, init='uniform', initValueScale=1, initOnCPUOnly=true, randomSeed=1);
        
            #we provide a scale value for each weight
        
            //sWxo = Parameter(1, 1, init='fixedValue', value=0.0);
            //sWxi = Parameter(1, 1, init='fixedValue', value=0.0);
            //sWxf = Parameter(1, 1, init='fixedValue', value=0.0);
            //sWxc = Parameter(1, 1, init='fixedValue', value=0.0);

            //sWhi = Parameter(1, 1, init='fixedValue', value=0.0);
            //sWci = Parameter(1, 1, init='fixedValue', value=0.0);

            //sWhf = Parameter(1, 1, init='fixedValue', value=0.0);
            //sWcf = Parameter(1, 1, init='fixedValue', value=0.0);
            //sWho = Parameter(1, 1, init='fixedValue', value=0.0);
            //sWco = Parameter(1, 1, init='fixedValue', value=0.0);
            //sWhc = Parameter(1, 1, init='fixedValue', value=0.0);

            //sWmr = Parameter(1, 1, init='fixedValue', value=0.0);

            //expsWxo = NewBeta(void)
            //expsWxi = NewBeta(void)
            //expsWxf = NewBeta(void)
            //expsWxc = NewBeta(void)

            //expsWhi = NewBeta(void)
            //expsWci = NewBeta(void)     

            //expsWhf = NewBeta(void)
            //expsWcf = NewBeta(void)
            //expsWho = NewBeta(void)
            //expsWco = NewBeta(void)
            //expsWhc = NewBeta(void)

            //expsWmr = NewBeta(void)
        
            #end of scale values        

            dh = PastValue(outputDim, 1, output);
            dc = PastValue(cellDim, 1, ct);
            
            W(in) = NewW(void) * Stabilize(in)
            H(in) = NewH(void) * Stabilize(in)
            C(in) = DiagTimes(NewC(void), Stabilize(in))
            
            Wxix = W(inputx);
            Whidh = H(dh);
            Wcidc = C(dc);

            it = Sigmoid(Wxix + NewB(void) + Whidh + Wcidc);

            Wxcx = W(inputx);
            Whcdh = H(dh);
            bit = it .* Tanh(Wxcx + (Whcdh + NewB(void)));

            Wxfx = W(inputx);
            Whfdh = H(dh);
            Wcfdc = C(dc);

            ft = Sigmoid(Wxfx + NewB(void) + Whfdh + Wcfdc);

            bft = ft .* dc

            ct = Plus(bft, bit);

            Wxox  = W(inputx);
            Whodh = H(dh);
            Wcoct = C(ct);

            ot = Sigmoid(Wxox + NewB(void) + Whodh + Wcoct);

            mt = ot .* Tanh(ct)

            output = Times(Wmr, Stabilize(mt)); 
        ]

        #define basic i/o
        baseFeatDim=33
        FeatDim=363
        RowSliceStart=FeatDim - baseFeatDim     // before: 330 hard-coded
        labelDim=132
        cellDim=1024
        hiddenDim=256

        features=Input(FeatDim, 1, tag='feature')     # differences to NDL: needs the '1'; tag value must be quoted as a string
        labels=Input(labelDim, 1, tag='label')
        feashift=RowSlice(RowSliceStart, baseFeatDim, features);      # shift 5 frames right (x_{t+5} -> x_{t} )  // TODO why 5? Where do I see this?


        featNorm = MeanVarNorm(feashift)

        numLSTMs = 3
        LSTMoutput[k:1..numLSTMs] = if k == 1 then LSTMPComponentWithSelfStab(baseFeatDim, hiddenDim, cellDim, featNorm)
                                              else LSTMPComponentWithSelfStab(hiddenDim, hiddenDim, cellDim, LSTMoutput[k-1].output);

        W = Parameter(labelDim, hiddenDim, init='uniform', initValueScale=1, initOnCPUOnly=true, randomSeed=1);
        b = Parameter(labelDim, 1, init='fixedValue', value=0);
        
        //expsW = Exp(Parameter(1, 1, init='fixedValue', value=0.0));

        LSTMoutputW = Plus(Times(W, Stabilize(LSTMoutput[numLSTMs].output)), b);
        
        cr = CrossEntropyWithSoftmax(labels, LSTMoutputW, tag='criterion');
        Err = ErrorPrediction(labels, LSTMoutputW, tag='eval');
    
        logPrior = LogPrior(labels)	 
        ScaledLogLikelihood=Minus(LSTMoutputW, logPrior, tag='output')
    ]
]
