command=write
precision=float
numCPUThreads=$numThreads$

write=[
    action=write
    modelPath=$modelName$
    outputNodeNames=ScaledLogLikelihood

    # deviceId=-1 for CPU, >=0 for GPU devices 
    deviceId=$DeviceNumber$
    traceLevel=1
    useValidation=true

    printValues=true
      
    # Parameter values for the reader
    reader=[
      # reader to use
      readerType=Kaldi2Reader
      readMethod=blockRandomize
      frameMode=false
      Truncated=false
      nbruttsineachrecurrentiter=1
      miniBatchMode=Partial
      randomize=Auto
      verbosity=1   
      features=[
          dim=$featDim$
          scpFile=$inputCounts$
          rx=$inputFeats$
          featureTransform=$featureTransform$
      ]

    ]

    writer=[
      # reader to use
      writerType=Kaldi2Reader
      readMethod=blockRandomize
      frameMode=false
      miniBatchMode=Partial
      Truncated=false
      randomize=Auto
      verbosity=1   
      ScaledLogLikelihood=[
          dim=$labelDim$
          Kaldicmd="ark:-"
	        scpFile=$inputCounts$
      ]
    ]

]
