DeviceNumber=$DeviceNumber$
command=$action$

numCPUThreads=$numThreads$
precision=float

write=[
    action=write
    modelPath=$modelName$
    outputNodeNames=ScaledLogLikelihood

    # deviceId=-1 for CPU, >=0 for GPU devices 
    deviceId=$DeviceNumber$
    traceLevel=1
    useValidation=true

    printValues=true
      
    reader=[
      # reader to use
      readerType=Kaldi2Reader
      readMethod=blockRandomize
      frameMode=false
      miniBatchMode=Partial
      randomize=Auto
      verbosity=0   
      features=[
	    dim=$featDim$
	    scpFile=$inputCounts$
	    rx=$inputFeats$
      ]

    ]
    writer=[
      # reader to use
      writerType=Kaldi2Reader
      readMethod=blockRandomize
      frameMode=false
      miniBatchMode=Partial
      randomize=Auto
      verbosity=0   
      ScaledLogLikelihood=[
        dim=$labelDim$
        Kaldicmd="ark:-"
	    scpFile=$inputCounts$
      ]
    ]

]
