DeviceNumber=$DeviceNumber$
command=$action$

precision=float


write=[
    action=write
    modelPath=$modelName$
    outputNodeNames=ScaledLogLikelihood

    # deviceId=-1 for CPU, >=0 for GPU devices 
    deviceId=$DeviceNumber$
    traceLevel=1
    useValidation=true

    printValues=true
      
    reader=[
      # reader to use
      readerType=KaldiReader
      readMethod=blockRandomize
      frameMode=false
      miniBatchMode=Partial
      randomize=Auto
      verbosity=1   
      features=[
	    dim=$featDim$
	    scpFile=$inputSCP$
      ]

    ]
    writer=[
      # reader to use
      writerType=KaldiWriter
      readMethod=blockRandomize
      frameMode=false
      miniBatchMode=Partial
      randomize=Auto
      verbosity=1   
      ScaledLogLikelihood=[
        dim=$labelDim$
        Kaldicmd="ark:-"
	    scpFile=$outputSCP$
      ]
    ]

]
