SOURCEKIND     = WAVEFORM
SOURCEFORMAT   = NIST
SAVECOMPRESSED = FALSE
SAVEWITHCRC    = FALSE
TARGETKIND     = FBANK_Z_D_A
TARGETRATE     = 100000
SOURCERATE     = 625
WINDOWSIZE     = 250000.0
PREEMCOEF      = 0.97
ZMEANSOURCE    = TRUE
USEHAMMING     = TRUE
NUMCHANS       = 24
ENORMALISE     = TRUE
ESCALE         = 1.0
LOFREQ         = 64
HIFREQ         = 8000

