command=TimitTrainSimple:TimitTestSimple:TimitWriteSimple
# command=TimitWriteSimple

# deviceId=-1 for CPU, >=0 for GPU devices
DeviceNumber=0
stderr=Demo

precision=float

#######################################
#  TRAINING CONFIG (Simple, Fixed LR) #
#######################################

TimitTrainSimple=[
    action=train

    modelPath=Models/TrainSimple.dnn

    # deviceId=-1 for CPU, >=0 for GPU devices 
    deviceId=$DeviceNumber$

    traceLevel=1

    # Notation xxx:yyy*n:zzz is equivalent to xxx, then yyy repeated n times,
    #  then zzz
    # example: 10:20*3:5 is equivalent to 10:20:20:20:5
    SimpleNetworkBuilder=[
        layerSizes=792:512*3:183
        trainingCriterion=CrossEntropyWithSoftmax
        evalCriterion=ErrorPrediction
        layerTypes=Sigmoid
        initValueScale=1.0
        applyMeanVarNorm=true
        uniformInit=true
        needPrior=true
    ]

    SGD=[
	# epochSize=0 means epochSize is the size of the training set
        epochSize=0 
        minibatchSize=256:1024
        learningRatesPerMB=0.8:3.2*14:0.08
        momentumPerMB=0.9
        dropoutRate=0.0
        # maxEpochs=25		# Full experiment
        maxEpochs=1		# Small experiment for debugging
    ]
       
    # Parameter values for the reader
    reader=[
      # reader to use
      readerType=HTKMLFReader

#     readMethod=blockRandomize
      readMethod=rollingWindow

      miniBatchMode=Partial
      randomize=Auto
      verbosity=1   

      features=[
	  dim=792
	  scpFile=CntkTimit.scp
      ]

      labels=[
	mlfFile=TimitLabels.mlf
        labelDim=183
	labelMappingFile=TimitStateList.txt
      ]
    ]
]

#######################################
#  TESTING CONFIG (Simple)            #
#######################################

TimitTestSimple=[
    action=test

    modelPath=Models/TrainSimple.dnn

    # deviceId=-1 for CPU, >=0 for GPU devices 
    deviceId=$DeviceNumber$

    traceLevel=1

	# epochSize=0 means epochSize is the size of the training set
        epochSize=0 
        minibatchSize=256:1024
       
    # Parameter values for the reader
    reader=[
      # reader to use
      readerType=HTKMLFReader

      readMethod=rollingWindow

      miniBatchMode=Partial
      randomize=Auto
      verbosity=1   

	# numMBsToShowResult=10
	# evalNodeNames

      features=[
	  dim=792
	  scpFile=CntkTimit.scp
      ]

      labels=[
	mlfFile=TimitLabels.mlf
        labelDim=183
	labelMappingFile=TimitStateList.txt
      ]
    ]

]

#######################################
#  OUTPUT RESUTLS (Simple)            #
#######################################

TimitWriteSimple=[
    action=write

    modelPath=Models/TrainSimple.dnn

    # deviceId=-1 for CPU, >=0 for GPU devices 
    deviceId=$DeviceNumber$

    outputNodeNames=ScaledLogLikelihood
    traceLevel=1

    # Parameter values for the reader
    reader=[
      # reader to use
      readerType=HTKMLFReader

      features=[
	  dim=792
	  scpFile=CntkTimit.scp
      ]

    ]
    writer=[
      wrecords=50000 #Number of records to allocate space for in file
      writerType=HTKMLFWriter
      ScaledLogLikelihood = [
          dim = 183
	  scpFile=CntkTimitOutput.scp
           type=Real			# Must be uppercase Real?
	]
    ]
]

