deviceId = $DeviceId$
command = SimpleMultiGPU
precision = "float"

parallelTrain = true

# TODO: This name should be lowercase (cameCase), but that will break the reference filename in Jenkins on Linux
SimpleMultiGPU = [
    action = "train"
    modelPath = "$RunDir$/models/Simple.dnn"
    #deviceId = $DeviceId$
    traceLevel = 1

    SimpleNetworkBuilder = [
        # 2 input, 2 50-element hidden, 2 output
        layerSizes = 2:50*2:2
        trainingCriterion = "CrossEntropyWithSoftmax"
        evalCriterion = "ErrorPrediction"
        layerTypes = "Sigmoid"
        initValueScale = 1.0
        applyMeanVarNorm = true
        uniformInit = true
        needPrior = true
    ]

    SGD = [
        epochSize = 0 
        minibatchSize = 25
        learningRatesPerMB = 0.5:0.2*20:0.1
        momentumPerMB = 0.9
        dropoutRate = 0.0
        maxEpochs = 4

        ParallelTrain = [
            parallelizationMethod = "DataParallelSGD"
            DataParallelSGD = [
                gradientBits = 1
            ]
        ]
    ]
  
    # Parameter values for the reader
    reader = [
        # reader to use
        readerType = "UCIFastReader"
        file = "$DataDir$/SimpleDataTrain.txt"

        miniBatchMode = "partial"
        randomize = "none"
        verbosity = 1   

        features = [
            dim = 2      # two-dimensional input data
            start = 0    # Start with first element on line
        ]

        labels = [
            start = 2      # Skip two elements
            dim = 1        # One label dimension
            labelDim = 2   # Two labels possible
            labelMappingFile = "$DataDir$/SimpleMapping.txt"
        ]
    ]
]
