WorkDir=D:\src\CNTK\ExampleSetups\ASR\TIMIT
LibDir=$WorkDir$\lib
ScpDir=$LibDir$\scp
FBankScpShort=$ScpDir$\TIMIT.train.scp.fbank.fullpath.100
MfccScpShort=$ScpDir$\TIMIT.train.scp.mfcc.fullpath.100
MlfDir=$LibDir$\mlf
ConfigDir=$WorkDir$\config
NdlDir=$ConfigDir$
MelDir=$ConfigDir$
MaxNumEpochs=5
ExpDir=D:\temp\cntk\TIMIT\CheckInSuites\GPU
DeviceNumber=0
