WorkDir=D:\src\codeplex\cntk\ExampleSetups\ASR\TIMIT
LibDir=$WorkDir$\lib
ScpDir=$LibDir$\scp
FBankScpShort=$ScpDir$\TIMIT.train.scp.fbank.fullpath.100
MfccScpShort=$ScpDir$\TIMIT.train.scp.mfcc.fullpath.100
FBankScpShortTest=$ScpDir$\TIMIT.core.scp.fbank.fullpath.20
LogLikeScpShortTest=$ScpDir$\TIMIT.core.scp.scaledloglike.fullpath.20
BNeckScpShortTest=$ScpDir$\TIMIT.core.scp.bottleneck.fullpath.20
MlfDir=$LibDir$\mlf
ConfigDir=$WorkDir$\config
NdlDir=$ConfigDir$
MelDir=$ConfigDir$
MaxNumEpochs=5
ExpDir=D:\temp\cntk\TIMIT\CheckInSuites\CPU
DeviceNumber=-1
