# configuration file for CNTK MNIST Before Check-In Tests


ExpFolder=d:\temp\mnist
ConfigFolder=D:\CNTK\CheckInSuites\MNIST
DataFolder=d:\s2s\mnist

RunOnDevice=-1

stderr=$ExpFolder$

command=mnistTrainSimpleNet:mnistSimpleNetTest


precision=float

dumpNodeInfo=[
    action=dumpnode
	modelPath=$ExpFolder$\mnist_sn.cn
	printValues=false
]

mnistTrainSimpleNet=[
    modelPath=$ExpFolder$\mnist_sn.cn
    action=train
    traceLevel=0
    deviceId=$RunOnDevice$

    SimpleNetworkBuilder=[
        trainingCriterion=CrossEntropyWithSoftmax
        evalCriterion=ErrorPrediction
    	layerTypes=Sigmoid
        initValueScale=1.0
        layerSizes=784:256:10
        uniformInit=true
    ]

    # configuration file, base parameters
    SGD=[
        minibatchSize=32
        epochSize=0
        learningRatesPerMB=0.2
        momentumPerMB=0.90
        maxEpochs=10        
        
        validateAfterModelReloading=false
    ]

	# Parameter values for the reader
	reader=[
      # reader to use
      readerType=UCIFastReader
	  miniBatchMode=Partial
	  randomize=Auto	
	  features=[
	    dim=784
	    start=1	    
	    file=$DataFolder$\mnist_train.txt
      ]
	  labels=[
	    dim=1
		start=0
		file=$DataFolder$\mnist_train.txt
	    labelMappingFile=$ConfigFolder$\mnistlabels.txt
		labelDim=10
		labelType=Category
	  ]
	]

	reader=[
      # reader to use
      readerType=UCIFastReader
	  miniBatchMode=Partial
	  randomize=Auto	
	  features=[
	    dim=784
	    start=1	    
	    file=$DataFolder$\mnist_train.txt
      ]
	  labels=[
	    dim=1
		start=0
		file=$DataFolder$\mnist_train.txt
	    labelMappingFile=$ConfigFolder$\mnistlabels.txt
		labelDim=10
		labelType=Category
	  ]
	]
	
	cvReader=[
      # reader to use
      readerType=UCIFastReader
	  miniBatchMode=Partial
	  randomize=None
	  features=[
	    dim=784
	    start=1
	    file=$DataFolder$\mnist_test.txt
      ]
	  labels=[
	    dim=1
		start=0
		file=$DataFolder$\mnist_test.txt
	    labelMappingFile=$ConfigFolder$\mnistlabels.txt
		labelDim=10
		labelType=Category
	  ]
    ]
]

mnistTrainNDLNet=[
    modelPath=$ExpFolder$\mnist_ndl.cn
    action=train
    traceLevel=0
    deviceId=$RunOnDevice$

    NDLNetworkBuilder=[
        # run=sectionName - this will parse and run the sectionName from the file
       networkDescription=$ConfigFolder$\Example.ndl
       run=ndlFull
       executionEngine=synchronous
    ]

    # configuration file, base parameters
    SGD=[
        minibatchSize=32
        epochSize=0
        learningRatesPerMB=0.2
        momentumPerMB=0.90
        maxEpochs=10        
        
        validateAfterModelReloading=false
    ]

	# Parameter values for the reader
	reader=[
      # reader to use
      readerType=UCIFastReader
	  miniBatchMode=Partial
	  randomize=Auto	
	  features=[
	    dim=784
	    start=1	    
	    file=$DataFolder$\mnist_train.txt
      ]
	  labels=[
	    dim=1
		start=0
		file=$DataFolder$\mnist_train.txt
	    labelMappingFile=$ConfigFolder$\mnistlabels.txt
		labelDim=10
		labelType=Category
	  ]
	]

	reader=[
      # reader to use
      readerType=UCIFastReader
	  miniBatchMode=Partial
	  randomize=Auto	
	  features=[
	    dim=784
	    start=1	    
	    file=$DataFolder$\mnist_train.txt
      ]
	  labels=[
	    dim=1
		start=0
		file=$DataFolder$\mnist_train.txt
	    labelMappingFile=$ConfigFolder$\mnistlabels.txt
		labelDim=10
		labelType=Category
	  ]
	]
	
	cvReader=[
      # reader to use
      readerType=UCIFastReader
	  miniBatchMode=Partial
	  randomize=None
	  features=[
	    dim=784
	    start=1
	    file=$DataFolder$\mnist_test.txt
      ]
	  labels=[
	    dim=1
		start=0
		file=$DataFolder$\mnist_test.txt
	    labelMappingFile=$ConfigFolder$\mnistlabels.txt
		labelDim=10
		labelType=Category
	  ]
    ]
]

mnistAdaptSimpleNet=[
    modelPath=$ExpFolder$\mnist_adapt.cn
    action=adapt
    traceLevel=0
    deviceId=$RunOnDevice$

    origModelFileName=$ExpFolder$\mnist_sn.cn.1
    refNodeName=PosteriorProb
    adaptationRegType=KL
    adaptationRegWeight=0.1
    
    # configuration file, base parameters
    SGD=[
        minibatchSize=32
        epochSize=0
        learningRatesPerMB=0.2
        momentumPerMB=0.90
        maxEpochs=10        
        
        validateAfterModelReloading=false
    ]

	# Parameter values for the reader
	reader=[
      # reader to use
      readerType=UCIFastReader
	  miniBatchMode=Partial
	  randomize=Auto	
	  features=[
	    dim=784
	    start=1	    
	    file=$DataFolder$\mnist_train.txt
      ]
	  labels=[
	    dim=1
		start=0
		file=$DataFolder$\mnist_train.txt
	    labelMappingFile=$ConfigFolder$\mnistlabels.txt
		labelDim=10
		labelType=Category
	  ]
	]

	reader=[
      # reader to use
      readerType=UCIFastReader
	  miniBatchMode=Partial
	  randomize=Auto	
	  features=[
	    dim=784
	    start=1	    
	    file=$DataFolder$\mnist_train.txt
      ]
	  labels=[
	    dim=1
		start=0
		file=$DataFolder$\mnist_train.txt
	    labelMappingFile=$ConfigFolder$\mnistlabels.txt
		labelDim=10
		labelType=Category
	  ]
	]
	
	cvReader=[
      # reader to use
      readerType=UCIFastReader
	  miniBatchMode=Partial
	  randomize=None
	  features=[
	    dim=784
	    start=1
	    file=$DataFolder$\mnist_test.txt
      ]
	  labels=[
	    dim=1
		start=0
		file=$DataFolder$\mnist_test.txt
	    labelMappingFile=$ConfigFolder$\mnistlabels.txt
		labelDim=10
		labelType=Category
	  ]
    ]
]

mnistSimpleNetTest=[
	action=eval
    deviceId=$RunOnDevice$
    
    epochSize=10000
	minibatchSize=100	
    
	modelPath=$ExpFolder$\mnist_sn.cn

	# Parameter values for the reader
	reader=[
      # reader to use
      readerType=UCIFastReader
	  miniBatchMode=Partial
	  randomize=None
	  features=[
	    dim=784
	    start=1
	    file=$DataFolder$\mnist_test.txt
      ]
	  labels=[
	    dim=1
		start=0
		file=$DataFolder$\mnist_test.txt
	    labelMappingFile=$ConfigFolder$\mnistlabels.txt
		labelDim=10
		labelType=Category
	  ]
    ]
]

mnistSimpleNetCV=[
    action=cv
    deviceId=$RunOnDevice$
    
    epochSize=10000
	minibatchSize=100	

	modelPath=$ExpFolder$\mnist_sn.cn
    
    crossValidationInterval=1:1:10
    
    sleepSecondsBetweenRuns=5

	# Parameter values for the reader
	reader=[
      # reader to use
      readerType=UCIFastReader
	  miniBatchMode=Partial
	  randomize=None
	  features=[
	    dim=784
	    start=1
	    file=$DataFolder$\mnist_test.txt
      ]
	  labels=[
	    dim=1
		start=0
		file=$DataFolder$\mnist_test.txt
	    labelMappingFile=$ConfigFolder$\mnistlabels.txt
		labelDim=10
		labelType=Category
	  ]
    ]
]

mnistSimpleNetWritePrediction=[
	action=write
    deviceId=$RunOnDevice$
    
    epochSize=10000
	minibatchSize=100	

    #outputNodeNames=HLast
    
	modelPath=$ExpFolder$\mnist_sn.cn
	
	outputPath=$ExpFolder$\ScaledLogLikelihood

	# Parameter values for the reader
	reader=[
      # reader to use
      readerType=UCIFastReader
	  miniBatchMode=Partial
	  randomize=None
	  features=[
	    dim=784
	    start=1
	    file=$DataFolder$\mnist_test.txt
      ]
    ]
]
