# globals.config - config for ASR check-in tests

# the following variables must be passed on the command line to CNTK:
#  - WorkDir       e.g. ..\..\..\ExampleSetups\ASR\TIMIT    # assumes current directory is location of this config file; override on cmd line if not correct
#  - ExpDir        e.g. ..\test_out\cpu
#  - LibDir        e.g. $WorkDir$\lib
#  - ScpDir        e.g. $LibDir$\scp

# data paths
FBankScpShort=$ScpDir$\TIMIT.train.scp.fbank.fullpath.100
MfccScpShort=$ScpDir$\TIMIT.train.scp.mfcc.fullpath.100
FBankScpShortTest=$ScpDir$\TIMIT.core.scp.fbank.fullpath.20
LogLikeScpShortTest=$ScpDir$\TIMIT.core.scp.scaledloglike.fullpath.20
BNeckScpShortTest=$ScpDir$\TIMIT.core.scp.bottleneck.fullpath.20

MlfDir=$LibDir$\mlf

# config paths & parameters
ConfigDir=$WorkDir$\config
NdlDir=$ConfigDir$
MelDir=$ConfigDir$
MaxNumEpochs=5
