WorkDir=.
ModelDir=$WorkDir$/_out/$ConfigName$
stderr=$WorkDir$/_out/$ConfigName$

ndlMacros=$WorkDir$/Macros.ndl

precision=float
deviceId=Auto

command=Train:Test
#command=Train

Train=[
    action=train
    modelPath=$ModelDir$/AlexNet
    traceLevel=1

    NDLNetworkBuilder=[
        networkDescription=$WorkDir$/AlexNet.ndl
    ]
    
    SGD=[
        epochSize=0
        minibatchSize=128
        learningRatesPerMB=0.01*20:0.003*15:0.001
        momentumPerMB=0.9
        maxEpochs=60
        gradUpdateType=None
        L2RegWeight=0.0005
        dropoutRate=0*10:0.5
        
        numMBsToShowResult=10
    ]
    
    reader=[
        readerType=ImageReader
        #file=$WorkDir$/train_map.txt
        file=C:\Data\ImageNet\2015\train_map.txt
        randomize=None
        features=[
            width=224
            height=224
            channels=3
        ]
        labels=[
            labelDim=1000
        ]
    ]    
]

Test=[
    action=test
    modelPath=$ModelDir$/AlexNet
    # Set minibatch size for testing.
    minibatchSize=128

     NDLNetworkBuilder=[
        networkDescription=$WorkDir$/AlexNet.ndl
    ]
    
    reader=[
        readerType=ImageReader
        file=$WorkDir$/val_map.txt
        randomize=None
        features=[
            width=224
            height=224
            channels=3
        ]
        labels=[
            labelDim=1000
        ]
    ]    
]
