#WorkDir=//speechstore5/transient/kaishengy/data/lts/Data/CNTK
WorkDir=d:/exp/lts
DataDir=d:/data/lts
#DataDir=d:/data/ltsdbg
NdlDir=c:/dev/cntk5/ExampleSetups/G2P/setups
PredictionModelFeatureDir=\\speechstore5\transient\kaishengy\exp\lts\result\expbilstmce300n\s4
ExpDir=\\speechstore5\transient\kaishengy\exp\lts\result\explstm
OutDir=$ExpDir$
LogDir=$ExpDir$\log
DeviceNumber=0
MdlDir=$ExpDir$

