precision=float
command=Train:Test
deviceId=$DeviceId$

ndlMacros=$DataDir$/../QuickE2E/Macros.ndl

parallelTrain=false

Train=[
    action=train
    modelPath=$RunDir$/models/cntk.dnn
    deviceId=$DeviceId$
    traceLevel=1
    
		NDLNetworkBuilder=[
				networkDescription=$DataDir$/../QuickE2E/Convolution.ndl
		]

    SGD=[
        epochSize=32
        minibatchSize=8
        learningRatesPerMB=0.5
        momentumPerMB=0*10:0.7
        maxEpochs=5
    ]
    
    reader=[
        readerType=UCIFastReader
        file=$DataDir$/MNIST-Train-28x28.Tiny.txt
        features=[
            dim=784
            start=1
        ]
        labels=[
            dim=1
            start=0
            labelDim=10
            labelMappingFile=$DataDir$/labelsmap.txt
        ]
    ]    
]

Test=[
    action=test
    modelPath=$RunDir$/models/cntk.dnn

     NDLNetworkBuilder=[
        networkDescription=$DataDir$/../QuickE2E/Convolution.ndl
    ]
    
    reader=[
        readerType=UCIFastReader
        file=$DataDir$/MNIST-Test-28x28.Tiny.txt
        features=[
            dim=784
            start=1
        ]
        labels=[
            dim=1
            start=0
            labelDim=10
            labelMappingFile=$DataDir$/labelsmap.txt
        ]
    ]    
]
