precision=float
command=Train:Test
deviceId=$DeviceId$

ndlMacros=$ConfigDir$/Macros.ndl

parallelTrain=false
NumCPUThreads=8

Train=[
    action=train
    modelPath=$RunDir$/models/cntk.dnn
    deviceId=$DeviceId$
    traceLevel=1
    
		NDLNetworkBuilder=[
				networkDescription=$ConfigDir$/Convolution.ndl
		]

    SGD=[
        epochSize=100
        minibatchSize=10
        learningRatesPerMB=0.05
        momentumPerMB=0*10:0.7
        maxEpochs=12
    ]
    
    reader=[
        readerType=UCIFastReader
        file=$DataDir$/Train.txt
        features=[
            dim=784
            start=1
        ]
        labels=[
            dim=1
            start=0
            labelDim=10
            labelMappingFile=$DataDir$/labelsmap.txt
        ]
    ]    
]

Test=[
    action=test
    modelPath=$RunDir$/models/cntk.dnn

     NDLNetworkBuilder=[
        networkDescription=$ConfigDir$/Convolution.ndl
    ]
    
    reader=[
        readerType=UCIFastReader
        file=$DataDir$/Test.txt
        features=[
            dim=784
            start=1
        ]
        labels=[
            dim=1
            start=0
            labelDim=10
            labelMappingFile=$DataDir$/labelsmap.txt
        ]
    ]    
]
