precision = "float"
command = train:test
deviceId = $DeviceId$

ndlMacros = "$ConfigDir$/Macros.ndl"

parallelTrain = false
numCPUThreads = 8

train = [
    action = "train"
    modelPath = "$RunDir$/models/cntk.dnn"
    #deviceId = $DeviceId$
    traceLevel = 1
    
    NDLNetworkBuilder = [
        networkDescription = "$ConfigDir$/Convolution.ndl"
    ]

    SGD = [
        epochSize = 100
        minibatchSize = 10
        learningRatesPerMB = 0.05
        momentumPerMB = 0*10:0.7
        maxEpochs = 12
    ]
    
    reader = [
        readerType = "UCIFastReader"
        file = "$DataDir$/Train.txt"
        features = [
            dim = 784
            start = 1
        ]
        labels = [
            dim = 1
            start = 0
            labelDim = 10
            labelMappingFile = "$DataDir$/labelsmap.txt"
        ]
    ]    
]

test = [
    action = "test"
    modelPath = "$RunDir$/models/cntk.dnn"

    # TODO: there should be no need for a network builder upon testing
    NDLNetworkBuilder = [
        networkDescription = "$ConfigDir$/Convolution.ndl"
    ]
    
    reader = [
        readerType = "UCIFastReader"
        file = "$DataDir$/Test.txt"
        features = [
            dim = 784
            start = 1
        ]
        labels = [
            dim = 1
            start = 0
            labelDim = 10
            labelMappingFile = "$DataDir$/labelsmap.txt"
        ]
    ]    
]
