# See cntk.contrib.deeprl.agent.shared.qlearning_parameters for detailed
# explanation of each parameter.

[General]
Agent = tabular_qlearning
Gamma = 0.99

[QLearningAlgo]
InitialEpsilon = 1.0
EpsilonDecayStepCount = 100000
EpsilonMinimum = 0.01
InitialEta = 0.5
EtaDecayStepCount = 100000
EtaMinimum = 0.1
InitialQ = 0.0
DiscretizationResolution = 10
QRepresentation = tabular
