WorkDir=.
ModelDir=$WorkDir$/_out/$ConfigName$
stderr=$WorkDir$/_out/$ConfigName$

ndlMacros=$WorkDir$/Macros.ndl

precision=float
deviceId=Auto
prefetch=true
parallelTrain=false

command=Train:AddBNEval:Test

Train=[
    action=train
    modelPath=$ModelDir$/02_BatchNormConv

     NDLNetworkBuilder=[
        networkDescription=$WorkDir$/02_BatchNormConv.ndl
    ]
    
    SGD=[
        epochSize=49984
        minibatchSize=64
        learningRatesPerMB=0.03*7:0.01*8:0.003
        #momentumPerMB=0.9*10:0.99
        maxEpochs=10
        #L2RegWeight=0.03
        dropoutRate=0*1:0.5
    ]
    
    reader=[
        readerType=UCIFastReader
        file=$WorkDir$/Train.txt
        randomize=None
        features=[
            dim=3072
            start=1
        ]
        labels=[
            dim=1
            start=0
            labelDim=10
            labelMappingFile=$WorkDir$/labelsmap.txt
        ]
    ]    
]

AddBNEval=[    
    action=edit
    CurModel=$ModelDir$/02_BatchNormConv
    NewModel=$ModelDir$/02_BatchNormConv.Eval
    editPath=$WorkDir$/02_BatchNormConv.mel
]

Test=[
    action=test
    modelPath=$ModelDir$/02_BatchNormConv.Eval
    # Set minibatch size for testing.
    minibatchSize=128

     NDLNetworkBuilder=[
        networkDescription=$WorkDir$/02_BatchNormConv.ndl
    ]
    
    reader=[
        readerType=UCIFastReader
        file=$WorkDir$/Test.txt
        randomize=None
        features=[
            dim=3072
            start=1
        ]
        labels=[
            dim=1
            start=0
            labelDim=10
            labelMappingFile=$WorkDir$/labelsmap.txt
        ]
    ]    
]
